*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2, p{
    color: white;
    padding: 10px;
    font-size: 80%;
}

.container{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.cuadro{
    margin: 5px;
    padding: 10px;
    height: 80vh;
}
.uno{
    background-color: orange;
}
.dos{
    background-color: teal;
}
.tres{
    background-color: forestgreen;
}
button{
    background-color: white;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 20% 30%;
    font-size: 8px;
}
img{
    width: 20%;
    margin: 10px;
}
